
  <div id="maincontent" clas="container">
    <section class="row">
      <div class="col-sm-4">
        <div class="pic-and-description">
            <img width="200" height="200" src="../public/images/restaurant1.jpg" alt="Lunch">
          </div>
           <div class="pic-and-description">
           <p>超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃超级好吃</p>
          </div>
      </div>
      <div class="col-sm-8">
           <div id="map">
            <img src="../public/images/restaurant1.jpg" alt="Lunch">
          </div>
      </div>
    </section>

  </div>




